<div
	class="card"
	th:object="${item}"
	th:classappend="*{Deleted} ? ' card-delete'"
>
	<form name="Citizen" method="post" th:action="@{/guides/citizen/save}" >
		<input type="hidden" name="Id" th:value="*{Id}" />
		<div class="card-body">
			<div class="row">
				<div class="col-1 fs-1">
					<i class="bi bi-card-text"></i>
				</div>
				<div class="col">
					<div class="card-title">
						<input
							type="text"
							class="form-control w-100"
							name="Fullname"
							value="Нова фізична особа"
							th:value="*{Fullname}"
							autofocus
						/>
					</div>
					<div class="card-subtitle mb-2">
						<input
							type="text"
							class="form-control w-100"
							name="Address"
							value="Нова адреса"
							th:value="*{Address}"
							autofocus
						/>
					</div>
					<div class="card-text row">
						<div class="col">
							<span class="fs-bold">Соц. статус:</span>								
							<select multiple="multiple" class="form-select col mt-1" 
							th:name="Status"
							data-placeholder="Обрати соціальний статус">
								<th:block th:each="itemStatus : ${listStatuses}">
									<option 
										th:value="${itemStatus.Id}" 
										th:text="${itemStatus.Name}"
										th:selected="${itemStatus.Selected}"
										></option>
								</th:block>
							</select>
						</div>
						<div class="col">
							<span class="fs-bold">Соц. категорія:</span>
							<select multiple="multiple" class="form-select col mt-1"
							th:name="Category"
							 data-placeholder="Обрати соціальну категорію">
								<th:block th:each="itemCategory : ${listCategories}">
									<option 
										th:value="${itemCategory.Id}" 
										th:text="${itemCategory.Name}"
										th:selected="${itemCategory.Selected}"
										>
									</option>
								</th:block>
							</select>
						</div>
					</div>
				</div>
				<div class="col-1" th:unless="${edit}">
					<div class="row">
						<div class="col">
							<a
								th:href="@{/guides/citizen/edit/{id}(id=*{Id})}"
								title="Редагувати"
							>
								<i class="bi bi-pen"></i>
							</a>
						</div>
					</div>
					<div class="row" th:unless="*{Deleted}">
						<div class="col">
							<a
								th:href="@{/guides/citizen/delete/{id}(id=*{Id})}"
								title="Видалити"
							>
								<i class="bi bi-trash"></i>
							</a>
						</div>
					</div>
					<div class="row" th:if="*{Deleted}">
						<div class="col">
							<a
								th:href="@{/guides/citizen/restore/{id}(id=*{Id})}"
								title="Відновити"
							>
								<i class="bi bi-arrow-bar-up"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-1" th:if="${edit}">
					<div class="row">
						<div class="col">
							<button type="button" class="btn btn-link"
								onclick="Citizen.submit()"
								title="Зберігти"
							>
								<i class="bi bi-save"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script>
		window.scrollTo(0, Citizen.scrollHeight);
	</script>
	

</div>
