<div class="card" th:object="${item}" 
    th:classappend="*{Deleted} ? ' card-delete'">
    <div class="card-body">
        <div class="row">
            <div class="col-1 fs-1">
                <i class="bi bi-card-text"></i>
            </div>
            <div class="col">
                <div class="card-title">   
                    <span
                        class=""
                        th:text="*{Name}"
                    >
                    </span>
                </div>
            </div>
            <div class="col-1">
                <div class="row">
                    <div class="col">
                        <a th:href="@{/guides/socialstatus/edit/{id}(id=*{Id})}" title="Редагувати">
                            <i class="bi bi-pen"></i>
                        </a>
                    </div>
                </div>               
                <div class="row" th:unless="*{Deleted}">
                    <div class="col">
                        <a th:href="@{/guides/socialstatus/delete/{id}(id=*{Id})}" title="Видалити">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="row" th:if="*{Deleted}">
                    <div class="col">
                        <a th:href="@{/guides/socialstatus/restore/{id}(id=*{Id})}" title="Відновити">
                            <i class="bi bi-arrow-bar-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>