<!DOCTYPE html>
<html layout:decorate="~{layouts/default/template}">
	<head>
		<title>Головна</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="row">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/">Головна</a>
						</li>
					</ol>
				</nav>
			</div>
			<div class="row">
				<h2>Звіти</h2>
			</div>
			<div class="row">
				<div class="card p-0 shadow-none col m-2">
					<div class="card-header">Featured</div>
					<div class="card-body text-center">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							Some quick example text to build on the card title and make up the
							bulk of the card's content.
						</p>
					</div>
				</div>

				<div class="card p-0 shadow-none col m-2">
					<div class="card-header">Featured</div>
					<div class="card-body text-center">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							Some quick example text to build on the card title and make up the
							bulk of the card's content.
						</p>
					</div>
				</div>

				<div class="card p-0 shadow-none col m-2">
					<div class="card-header">Featured</div>
					<div class="card-body text-center">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							Some quick example text to build on the card title and make up the
							bulk of the card's content.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<h2>Реєстрация</h2>
			</div>
			<div class="row">
				<div class="card p-0 shadow-none col m-2">
					<div class="card-header">Featured</div>
					<div class="card-body text-center">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							Some quick example text to build on the card title and make up the
							bulk of the card's content.
						</p>
					</div>
				</div>

				<div class="card p-0 shadow-none col m-2">
					<div class="card-header">Featured</div>
					<div class="card-body text-center">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							Some quick example text to build on the card title and make up the
							bulk of the card's content.
						</p>
					</div>
				</div>

				<div class="card p-0 shadow-none col m-2">
					<div class="card-header">Featured</div>
					<div class="card-body text-center">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							Some quick example text to build on the card title and make up the
							bulk of the card's content.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<h2>Останні документи</h2>
			</div>
			<div class="row">
				<div class="card p-0 shadow-none col m-2">
					<div class="card-header">Featured</div>
					<div class="card-body text-center">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							Some quick example text to build on the card title and make up the
							bulk of the card's content.
						</p>
					</div>
				</div>

				<div class="card p-0 shadow-none col m-2">
					<div class="card-header">Featured</div>
					<div class="card-body text-center">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							Some quick example text to build on the card title and make up the
							bulk of the card's content.
						</p>
					</div>
				</div>

				<div class="card p-0 shadow-none col m-2">
					<div class="card-header">Featured</div>
					<div class="card-body text-center">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">
							Some quick example text to build on the card title and make up the
							bulk of the card's content.
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
