<!DOCTYPE html>
<html layout:decorate="~{guides/template}">
	<head>
		<title>Групи документів</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="row">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="/">Головна</a>
						</li>
						<li class="breadcrumb-item">
							<a href="/guides/list">Довідники</a>
						</li>
						<li class="breadcrumb-item">
							<a href="/guides/categoryresolution/list">Категорії резолюції</a>
						</li>
						<li class="breadcrumb-item">
							<a
								th:href="@{/guides/categoryresolution/new}"
								title="Додати категорію резолюції"
							>
								<i class="bi bi-plus-square"></i
							></a>
						</li>
					</ol>
				</nav>
			</div>

			<th:block th:each="item : ${list}">
				<div
					class="row"
					th:insert="/guides/categoryresolution/parts/card"
					th:unless="${edit==item.Id}"
				></div>
				<div
					class="row"
					th:insert="/guides/categoryresolution/parts/cardedit"
					th:if="${edit==item.Id}"
				></div>
			</th:block>
			<div
				class="row"
				th:insert="/guides/categoryresolution/parts/cardedit"
				th:if="${item}"
			></div>
		</div>
	</body>
</html>
